                   .video_player{
                        margin:8px;
                    }
                    ul.video-list{
                        list-style: none;
                        padding: 0;
                        overflow-y: scroll;
                        border-radius: 8px;
                        margin:0;
                    }    
                    ul.video-list ._video{
                       
                        padding:16px;
                        cursor: pointer;
                    }
                    .video-list-container{
                        
                        margin:8px;
                        border-radius: 8px;
                        overflow: hidden;
                        background-color: white;
                    }
                    @media (max-width:767px ){
                        .video-list-container .ration_8_9{
                            padding-bottom: 0;
                        }
                         .video-list-container .ration_8_9 > .ratio_content{
                            position: static;
                             height: auto;
                        }
                        
                    }