        nav.navbar{
            margin-bottom: 0
        }
        
        .navbar{
            background-color: rgba(0, 0,0, 0.6)
        }
        .navbar-brand{
        
           padding:10px 15px;
        }
        .navbar-brand>img{
          height:30px;
        }
        .navbar-nav > li > a :hover{
            
            background-color: transparent;
           
        }    
        .navbar-default .navbar-nav > li > a:hover{
             color:lightgray;
             background-color: transparent;
        }  
                
        .navbar-default .navbar-nav > li > a{
            font-size:1.2em;
            font-weight: bold;
            color:white;
           
        }
        .navbar-default .navbar-toggle .icon-bar{
          background-color:white;
        } 
        @media (min-width:768px){
          .navbar{
            height:80px;
          }
          .navbar-default .navbar-nav > li > a{
            color:white;
            line-height: 80px;
            padding-top: 0;
            padding-bottom: 0;
        }
         .navbar-default .navbar-nav > li > a:hover{
            color:lightgray;
        }
        .navbar-brand{
           height:80px;
           padding:20px 15px;
        }
        .navbar-brand>img{
          height:40px;
        }
        }